= form_with model: [ @article, @article.comments.build ], local: true do |f|
  %p
    = f.label :commenter
    = f.text_field :commenter
  %p
    = f.label :body
    = f.text_area :body
  %p
    = f.submit
